body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4.5rem;
  font-weight:bold;
  padding: 2%;
}


.title-image {
  padding: 10px 30px;
}


.header-row {
  padding: 0 2%;
}

.split-bill{
  font-size: 4rem;
  padding:1% 2%;
}



.headerTotal {
  background-color: white;
  color: black;
  position:sticky;
  top:0;
  z-index: 100;
  padding-bottom: 0;
}


.total-count {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  color: #666;
}


.reset-column {
  background-color: #660000;
  color: white;
  font-size: 3.2rem;
  padding-right: 5%;
  padding-top: 1%;
}


.grand-total {
  font-size: 4rem;
  font-weight: bold;
}


.category {
  text-align: center;
  background-color: #660000;
  border-width: 1px;
  border-style:solid;
  border-color: white;
}
.subcategory {
  text-align: center;
  font-size: 3.5rem;
  padding: 2%;
  background-color: #8F3737;
  border-width: 1px;
  border-style:solid;
  border-color: white;
}


/* Auflistung*/

.menu-item {
  font-size: 4rem;
}

.item-description{
  font-size: 3rem;
  font-style: italic;

}

.item-count {
font-size: 4rem;
text-align: center;
color: black;
}
.item-row {
  padding:4% 2%;
  border-width: 1px;
  border-style:solid;
  border-color: white;

}


/* Buttons */



.add-item {
  font-size: 5rem;
  padding: 0 30px;
  background-color: #0A5605;
  border-radius: 3%;
  margin-left: 10px;
}

.reduce-item {
  font-size: 5rem;
  padding: 0 30px;
  z-index: 99;
  margin-right: 10px;
}

.split-bill-dropdown {
  font-size: 3rem;
  margin: 50px 20px;
}
.split-bill-item {
  font-size: 4rem;
  text-align: center;
  padding: 30px 200px;
}



.right-col {
  text-align: right;
}
