body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 1.6rem;
  font-weight:bold;
  padding: 2%;
}

.category {
  text-align: center;
}
.reset-btn {
  margin-left: 2%;
  margin-top: 1%;
}

.total-item{
  font-size: 1rem;
  font-weight: bold;
}
.total-price {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.header-row {
  padding: 0 2%;
}
.headerTotal {
  background-color: #b4b4b4;
  color: black;
  position:sticky;
  top:0;
  z-index: 1;
  padding-bottom: 0;
}
.menu-item {
  font-size: 1.2rem;
}
.item-row {
  padding:4% 2%;
  border-width: 1px;
  border-style:solid;
  border-color: white;

}
.right-col {
  text-align: right;
}
.total {
  text-align: right;
}

.add-item {
  margin-left: 10%;
}
