body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4.5rem;
  font-weight:bold;
  padding: 2%;
}

.add-item {
  font-size: 5rem;
  padding: 0 50px;
}
.reduce-item {
  font-size: 5rem;
  padding: 0 30px;
  z-index: 99;
}
.category {
  text-align: center;
}
.reset-btn {
  margin-left: 2%;
  margin-top: 1%;
  font-size:4rem;
}

.total-item{
  font-size: 3rem;
  font-weight: bold;
}
.total-price {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.header-row {
  padding: 0 2%;
}

.headerTotal {
  background-color: #b4b4b4;
  color: black;
  position:sticky;
  top:0;
  z-index: 100;
  padding-bottom: 0;
}
.menu-item {
  font-size: 4rem;
}
.item-row {
  padding:4% 2%;
  border-width: 1px;
  border-style:solid;
  border-color: white;

}
.right-col {
  text-align: right;
}
.total {
  text-align: right;
}

.add-item {
  margin-left: 10%;
}
